{% extends 'base.html' %}

{% block head_content %}

    <title> consultar </title>

{% endblock %}

{% block container %}

<div class="container-fluid">
    <div class="card card-default mr-5 ml-5 mt-4" >

        <div class="card-body">
            <table class="table" id="table_prueba">
                <thead>
                  <tr>
                      <th scope="col" style="width: 10%;">Referencia</th>
                      <th scope="col" style="width: 15%;">Nombre</th>
                      <th scope="col" style="width: 10%;">Creador</th>
                      <th scope="col" style="width: 10%;">Pais</th>
                      <th scope="col" style="width: 15%;">Creacion</th>
                      <th scope="col" style="width: 10%;">Homologaciones</th>


                  </tr>
                </thead>
                <tbody>
                  {% for c in object_list %}

                      <tr>

                          <td>  {{ c.refer }}</td>
                          <td>{{ c.name }}</td>
                          <td>{{ c.profile }}</td>
                          <td>{{ c.pais }}</td>
                          <td>{{ c.created }}</td>
                          <td>
                              <button type="button" class="btn btn-default btn-xs btn-flat">
                                <a href="{% url "Homologaciones:detail" c.pk %}">
                                  <i class="fas fa-eye"></i>
                                  </a>
                              </button>
                              <button type="button" class="btn btn-default btn-xs btn-flat">
                                <a href="{% url "Homologaciones:terminar" c.pk %}">
                                  <i class="far fa-plus-square"></i>
                                  </a>
                              </button>
                          </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
  {% endblock %}


      {% block java %}

      <script>

         $(document).ready( function () {
            $('#table_prueba').DataTable(
            {
              {% include "spanish.html" %}
              ,"scrollY":    "400px",
              "scrollCollapse": true,


           }

            );
        } );

      </script>

      {% endblock %}
