{% extends 'base.html' %}

{% block head_content %}

    <title> consultar </title>

{% endblock %}

{% block container %}

{% for recipe in object_list %}
      {% for c in recipe.get_object %}
            {{ c }}
      {% endfor %}
      (...)
{% endfor %}

<div class="container-fluid">
    <div class="card card-default mr-5 ml-5 mt-4" >

        <div class="card-body">
            <table class="table" id="table_prueba">
                <thead>
                  <tr>
                      <th scope="col" style="width: 10%;">Referencia</th>
                      <th scope="col" style="width: 15%;">Nombre</th>
                      <th scope="col" style="width: 10%;">Creador</th>
                      <th scope="col" style="width: 10%;">Pais</th>
                      <th scope="col" style="width: 15%;">Creacion</th>
                      <th scope="col" style="width: 10%;">Homologaciones</th>


                  </tr>
                </thead>
                <tbody>
                  {% for c in object_list %}

                      <tr>

                          <td>{{ c.refer }}</td>
                          <td>{{ c.name }}</td>
                          <td>{{ c.profile }}</td>
                          <td>{{ c.pais }}</td>
                          <td>{{ c.created }}</td>
                          <td>
                            <div class="d-flex flex-row">
                              <button type="button" class="btn btn-default btn-xs btn-flat">
                                <a href="{% url "Homologaciones:consultar_terminal" c.pk %}">
                                  <i class="fas fa-eye fa"></i>
                                  </a>
                              </button>

                            {% if c.get_object == "Cerrada"%}
                              <form  method='POST'>
                                {% csrf_token %}
                              <input type='hidden' name='key' value="{{c.pk}}">
                              <input type='hidden' name='function' value="plus">
                              <button type="submit" class="btn btn-default btn-xs btn-flat ml-1">
                              <i class="fas fa-plus-square fa-lg"></i>
                              </button>
                              </form>
                            {%else%}
                            <button type="submit" class="btn btn-default btn-xs btn-flat ml-1">
                            <i class="fas fa-clock"></i>
                            </button>
                            {%endif%}
                              <form  method='POST'   enctype="multipart/form-data"
                              onsubmit="return confirm('Recuerde que se eliminaran todas las homologaciones asociadas a este terminal, este proceso no es reversible ');">
                                {% csrf_token %}
                                <input type='hidden' name='key' value="{{c.pk}}">
                                <input type='hidden' name='function' value="delete">
                              <button type="submit" class="btn btn-default btn-xs btn-flat ml-1">
                            <i class="fas fa-trash-alt"></i>
                            </button>
                            </form>
                              </div>
                          </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
  {% endblock %}


      {% block java %}

      <script>

         $(document).ready( function () {
            $('#table_prueba').DataTable(
            {
              {% include "spanish.html" %}
              ,"scrollY":    "400px",
              "scrollCollapse": true,
              "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-2'i><'border border-bottom col-sm-12 col-md-1'B><'col-sm-12 col-md-9'p>>",
             "buttons": [ 'excel'],

           });
        } );


      </script>



      {% endblock %}
