{% extends 'base.html' %}

{% block head_content %}

<title>Crear homologacion</title>

{% endblock %}

{% block container %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4 text-center">Nueva homologacion!</h4>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      {{ formset.management_form }}
                      {% for f in formset %}
                        {% for i in f %}
                        <br> {% if  i.label == 'Profile'%}
                          <h1>{{i.label}}</h1>
                              <input type="hidden" name="profile" value="1" />
                          {%else%}
                            {{ i}}
                        {%endif%}
                        <br/>
                          {% endfor %}
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-5">Publish!</button>

                    </form>

            </div>
        </div>

    </div>

{% endblock %}
