
{% extends "base.html" %}

{% block head_content %}
    <title>caracteristicas</title>
{% endblock%}
{% block container %}
<div class="container">
<div class="mt-5">
<ul class="list-group">
<li class="list-group-item text-center"><a class="active text-dark" href="{% url "Atributos:nueva_caracteristica" %}">Nueva caracteristica </a></li>
<li class="list-group-item text-center"><a class="active text-dark" href="{% url "Atributos:lista_caracteristicas" %}">Lista de caracteristicas</a></li>
</ul>
</div>
</div>
{% endblock %}
