{% extends 'base.html' %}

{% block head_content %}

    <title> Lista de caracteristicas </title>

{% endblock %}

{% block container %}

<div class="container-fluid">
    <div class="card card-default mr-5 ml-5 mt-4" >

        <div class="card-body">
            <table class="table" id="table_prueba">
                <thead>
                  <tr>
                      <th scope="col" style="width: 25%;">Nombre</th>
                      <th scope="col" style="width: 25%;">Creadro</th>
                      <th scope="col" style="width: 25%;">Creacion</th>
                      <th scope="col" style="width: 25%;">Descripcion</th>


                  </tr>
                </thead>
                <tbody>
                  {% for c in object_list %}

                      <tr>

                          <td>  {{ c.name }}</td>
                          <td>  {{ c.profile }}</td>
                          <td>  {{ c.created }}</td>
                          <td>{{ c.descripcion }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
  {% endblock %}


      {% block java %}

      <script>

         $(document).ready( function () {
            $('#table_prueba').DataTable(
            {
              {% include "spanish.html" %}
              ,"scrollY":    "400px",
              "scrollCollapse": true,


           }

            );
        } );

      </script>

      {% endblock %}
