{% load static %}

<!-- Footer -->

<footer class=" fixed-bottom font-small border " >

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left" id="footer" >

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-0">

        <!-- Content -->
        <p class="pt-3">Equipo de homologaciones Telefonica hispam</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none ">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 text-right">

        <!-- Content -->
        <p class="mt-1 mr-2 mb-0"><img src="{% static "img/powered.png" %}" height="30"/></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->
  <div style="height:5px; width:100%; " id="wrapper"></div>
  <!-- Copyright -->

  <!-- Copyright -->

</footer>
<!-- Footer -->
