<!-- Footer -->
<footer class=" fixed-bottom font-small border " >

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left" id="footer" >

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-0">

        <!-- Content -->
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
          harum esse fugiat. Itaque, culpa?</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none ">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 ">

        <!-- Content -->
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
          excepturi hic.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->
  <div style="height:5px; width:100%; " id="wrapper"></div>
  <!-- Copyright -->

  <!-- Copyright -->

</footer>
<!-- Footer -->
