

{% extends 'base.html' %}

{% block head_content %}

    <title> consultar </title>

{% endblock %}

{% block container %}
{{comparar}}
<div class="container-fluid">
    <div class="card card-default mr-5 ml-5 mt-4" >

        <div class="card-body">
            <table class="table" id="table_prueba">
                <thead>
                  <tr>
                      <th scope="col" style="width: 15%;">fabricante</th>
                      <th scope="col" style="width: 15%;">pais</th>
                      <th scope="col" style="width: 15%;">representante</th>
                      <th scope="col" style="width: 15%;">numero</th>
                      <th scope="col" style="width: 15%;">email</th>
                      <th scope="col" style="width: 15%;">opciones</th>

                  </tr>
                </thead>
                <tbody>
                  {% for c in object_list %}

                      <tr>
                          <td> {{ c.fabricante }} </td>
                          <td>{{ c.pais }}</td>
                          <td>{{ c.representante }}</td>
                          <td>{{ c.numero}}</td>
                          <td>{{ c.email}}</td>


                          <td>

                            <a href="{% url "Fabricantes:Update_fabricante" c.pk %}">
                                <button type="button" class="btn btn-warning btn-xs btn-flat">
                                  <i class="fas fa-edit"></i>
                                </button>
                          </td>
                      </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
  {% endblock %}


      {% block java %}

      <script>

         $(document).ready( function () {
            $('#table_prueba').DataTable(
            {
              {% include "spanish.html" %}
              ,"scrollY":    "500px",
              "scrollCollapse": true,
              "dom": "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-2'i><'border border-bottom col-sm-12 col-md-1'B><'col-sm-12 col-md-9'p>>",
             "buttons": [ 'excel'],

           });
        } );


      </script>

      {% endblock %}
