{% extends 'base.html' %}

{% block head_content %}

<title>Nuevo fabricante</title>

{% endblock %}

{% block container %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pt-3 pb-3" id="profile-box">
                <h4 class="mb-4 text-center">Nuevo fabricante!</h4>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}


                    <div class="form-group">
                        <input
                            class="form-control {% if form.refer.errors %}is-invalid{% endif %}"
                            type="text"
                            name="fabricante"
                            placeholder="fabricante"
                            value=""
                        >
                        <div class="invalid-feedback">
                            {% for error in form.refer.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mt-5">Publish!</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
